aiohttp==3.7.4.post0
chumpy==0.70
h5py==3.1.0
ipdb==0.13.9
mypy==0.910
olefile==0.46
open3d-python==0.7.0.0
opencv-python==4.5.3.56
pylint==2.10.2
pyrender==0.1.45
pytorch-lightning==1.4.4
shapely==1.7.1
smplx==0.1.28
torch==1.9.0
torchaudio==0.9.0
torchgeometry==0.1.2
torchvision==0.10.0
umnn==1.68
yacs==0.1.8
git+https://github.com/nkolot/nflows.git
